.Header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-link {
    color: #FFFF !important;
}

.banner-content {
    color: #FFF;
    padding: 5%;
    text-align: center;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}