.footer {
    background: black;
}

.footer-content {
    color: #ffff;
    padding: 30px 60px;
    justify-content: center;
    align-items: center;
}

.social p i {
    font-size: 27px;
    padding: 10px;
}



.text {
    width: 200px;
    height: 50px;
}

.text-i {
    width: 200px;
}