p i {
    font-size: 50px;
}

.campus-status {
    padding: 30px;
}

.campus-cover img {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.campus-title h1 {
    font-size: 50px;
}

.campus-title p {
    font-size: 18px;
}